{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400&display=swap" rel="stylesheet">
<style>
:root {
  --primary: #ff4081;
  --secondary: #5c9eff;
  --dark: #1a1a1a;
  --light: #ffffff;
  --font-family: "Comic Neue", "Noto Sans", sans-serif;
  --font-size: 19px;
  --text-color: whitesmoke;
  --background-color: black;
  --alert-border-color: lightgoldenrodyellow;
  --alert-text-color: goldenrod;
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

.navbar-brand {
  font-size: 27px;
  font-weight: bold;
}

.footer {
  width: 100%;
  background-color: var(--background-color);
  text-align: center;
  padding: 1rem 0;
  position: relative;
  margin-top: 2rem; /* 增加 margin-top 以避免擋住 ai_icon */
}

.footer a {
  margin: 0 10px;
  font-size: smaller;
  color: var(--text-color);
}

.footer a:hover {
  color: var(--text-color);
}

.navbar-nav .nav-link {
  padding: 10px;
  margin: 8px;
  text-decoration: none;
}

.navbar-nav .nav-item.active .nav-link {
  background-color: var(--background-color);
  color: var(--text-color) !important;
  font-weight: bold;
  border-bottom: 2px solid var(--text-color);
}

.navbar-nav .nav-item {
  margin-top: 8px;
  margin-right: 10px;
}

.nav-item.dropdown .dropdown-menu {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  margin-top: 20px;
}

.nav-item.dropdown .dropdown-item {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.nav-item.dropdown .dropdown-item:hover {
  background-color: grey;
  text-decoration: underline;
}

.nav-item.dropdown .dropdown-item:active {
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-item.dropdown .dropdown-toggle {
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
}

.nav-item.dropdown .dropdown-toggle:focus {
  background-color: var(--background-color);
  border: 1px solid var(--background-color);
  color: var(--text-color);
}

#submit {
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  background-color: var(--primary);
  color: var(--background-color);
  border: 1px solid var(--primary);
  margin-top: 15px;
}

.form-control {
  margin-top: 4px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.search-icon {
  margin-top: 4px;
}

.alert {
  background-color: var(--background-color);
  border: 1px solid var(--alert-border-color);
  color: var(--alert-text-color);
  opacity: 1;
  transition: opacity 5s ease-out;
  text-align: center;
}

.nav-item a {
  color: var(--text-color);
}

.nav-item a:hover {
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}
</style>
{% endblock head %}

{% block title %} {{ site_name }} {% endblock title %}

{% block navbar %}
<div class="container-fluid">
  <nav class="navbar navbar-dark navbar-fullwidth" style="padding: 0 30px;">
    {# Fixed Elements #}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">{{ site_name }}</span>
    </div>

    {# Left Side of Navbar #}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <form class="d-flex" action="{{ url_for('search') }}" role="search"
            style="display: inline-flex;width: 350px;padding: 8px 0px;">
            <input class="form-control" type="search" placeholder="{{ _('Search...') }}" aria-label="Search">
          </form>
        </li>
      </ul>

      {# Right Side of Navbar #}
      <ul class="nav navbar-nav navbar-right">
        <div style="display: flex; margin-top: 8px; align-items: center;">
          <li class="nav-item {% if request.endpoint == 'index' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('index') }}">{{_('Home')}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% if request.endpoint == 'lessons' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('lessons') }}">{{ _('Lessons') }}</a>
          </li>
          <li class="nav-item {% if request.endpoint == 'practice' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('practice') }}">{{ _('Practice') }}</a>
          </li>
          <li class="nav-item {% if request.endpoint == 'dictionary' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('dictionary') }}">{{ _('Dictionary') }}</a>
          </li>
          {% if current_user.is_anonymous %}
          <li class="nav-item {% if request.endpoint == 'register' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('register') }}">{{ _('Sign up') }}</a>
          </li>
          <li class="nav-item {% if request.endpoint == 'login' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('login') }}">{{ _('Sign in') }}</a>
          </li>
          {% else %}
          <li class="nav-item {% if request.endpoint == 'user' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">
              {{_('Profile')}}
            </a>
          </li>
          <li class="nav-item {% if request.endpoint == 'logout' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('logout') }}">
              {{_('Sign out')}}
            </a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-earth-americas"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="languageDropdown">
              <form id="language-form-en" method="post" action="{{ url_for('set_language') }}">
                <input type="hidden" name="language" value="en">
                <button type="submit" class="dropdown-item">English</button>
              </form>
              <form id="language-form-zh" method="post" action="{{ url_for('set_language') }}">
                <input type="hidden" name="language" value="zh">
                <button type="submit" class="dropdown-item">中文</button>
              </form>
              <form id="language-form-ja" method="post" action="{{ url_for('set_language') }}">
                <input type="hidden" name="language" value="ja">
                <button type="submit" class="dropdown-item">日本語</button>
              </form>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</div>
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
  <div class="col-md-12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %} {% endblock app_content %}
    <div style="position: fixed; bottom: 40px; right: 20px;">
      <a href="{{ url_for('chat_with_copilot') }}">
        <img src="../static/image/ai_icon.png" alt="Icon" style="width: 100px; height: 100px;">
      </a>
    </div>
  </div>
</div>

{% block footer %}
<footer class="footer">
  {# Placeholder #}
  <a href="{{ url_for('leave_message') }}">{{ _('Contact Support') }}</a>
  <a href="{{ url_for('get_random_post') }}">{{ _('Random post') }}</a>
  <a href="{{ url_for('donate') }}">{{_('Donate') }}</a>
  <a href="{{ url_for('chat_with_copilot') }}">{{ _('Chat with Copilot') }}</a>
  {% if current_user.is_authenticated and current_user.is_admin %}
  <a href="/404">{{ _('404 Quick button') }}</a>
  {% endif %}
</footer>
{% endblock footer %}
{% endblock content %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v6.5.0/js/all.js"></script>
<script>
  // Hide flash messages after 5 seconds
  setTimeout(() => {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      alert.style.opacity = '0';
    });
  }, 5000);
</script>
{% endblock scripts %}

