{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400&display=swap" rel="stylesheet">
<style>
  * {
    font-family: 'Comic Neue', cursive;
  }

  .icon-link::before {
    font-size: 18px;
  }

  .no-bullets {
    list-style-type: none;
  }

  .sidebar {
    padding-top: 50px;
  }

  .sidebar>div {
    text-align: left;
  }

  .sidebar hr {
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0;
  }

  .content {
    padding-bottom: 50px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 12px;
  }

  @media (max-width: 991.98px) {
    .hide-on-small-screen {
      display: none;
    }
  }

    {
    # New navbar style #
  }

  .navbar {
    background-color: #0e3146;
    padding-left: 200px;
    padding-right: 200px;
  }

  .navbar-nav .nav-link {
    color: white !important;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    transition: background-color 0.3s;
    text-decoration: none;
  }

  .navbar-nav .nav-link:hover {
    background-color: #ff6b6b;
    text-decoration: none;
  }

  .navbar-nav .nav-link:visited {
    color: white !important;
  }

  .navbar-brand,
  .navbar-toggler-icon {
    color: white !important;
  }

  .navbar-nav .nav-item {
    margin-top: 8px;
    margin-right: 10px;
  }

  .navbar-nav .nav-item.keybutton .nav-link {
    background-color: #ff6b6b;
  }
</style>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
{% endblock head %}

{% block title %} {{ site_name }} {% endblock title %}

{% block navbar %}
<div class="container-fluid">
  <nav class="navbar navbar-dark navbar-fullwidth" style="padding: 0 30px; background-color: #2c3e50;">
    {# Fixed Elements #}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <i class="fa-solid fa-cube" style="font-size: 20px;"></i>
        <span style="font-weight: bold;">{{ site_name}}</span>
        {#
        <img src="{{ url_for('static', filename='image/Logo.png') }}" alt="Wikipedia" height="55px"
          style="margin-top: -20px;"> #}

      </a>
    </div>

    {# 拆疊區域 左方 #}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <form class="d-flex" action="{{ url_for('search') }}" role="search"
            style="display: inline-flex;width: 350px;padding: 8px 0px;">
            <span class="icon">
              {# <i class="fa-solid fa-magnifying-glass" style="font-size: 20px;margin-top:8px;color: gray;"></i> #}
            </span>
            <input class="form-control me-2" type="search" placeholder="{{ _('Search',) }}" aria-label="Search"
              name="keyword">
            {# <button class="btn btn-outline-success" type="submit">{{_('Search') }}</button> #}
          </form>
        </li>
      </ul>

      {# 拆疊區域 右方 #}
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_anonymous %}
        <div style="display: flex; margin-top: 8px; align-items: center;">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('lessons') }}">Lessons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('practice') }}">Practice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dictionary') }}">Dictionary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('community') }}">Community</a>
          </li>
          <li class="nav-item keybutton">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          <li class="nav-item keybutton">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>

          {# 暫時dropdown設成display: none #}
          <div class="dropdown" style="display: inline-block;display: none;">
            <button class="dropdown-toggle btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-ellipsis"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">
                  {{ _('Pages for logged out editors <br />(learn more)') }}</a></li>
              <li><a class="dropdown-item" href="#">
                  {{ _('Contributions') }}</a></li>
              <li><a class="dropdown-item" href="#">
                  {{ _('Talk') }}</a></li>
            </ul>
          </div>
        </div>



        {% else %}
        <div style="display: flex; margin-top: 8px; align-items: center;">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('lessons') }}">Lessons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('practice') }}">Practice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dictionary') }}">Dictionary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('community') }}">Community</a>
          </li>
          <li class="nav-item keybutton">
            <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">{{
              _(current_user.username.capitalize())}}{{
              _('\'s profile')}}
            </a>
          </li>
          {# <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">
              <i class="fa-solid fa-bell" style="font-size: 20px; "></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">
              <i class="fa-solid fa-inbox" style="font-size: 20px; "></i>
            </a>
          </li> #}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('watchlist', username=current_user.username) }}">
              <i class="fa-regular fa-star" style="font-size: 20px; "></i>
            </a>
          </li>
          <li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">
              <i class="fa-solid fa-right-from-bracket" style="font-size: 20px; "></i>
            </a>
          </li>
        </div>
    </div>
    </li>


    {% endif %}
    </ul>
</div>
</div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="content container-fluid">
  <div class="row">
    <div class="sidebar col-md-2 hide-on-small-screen">
      <div>
        <!-- 左邊sidebar -->
        <ul class="no-bullets">
          <li><b>{{_('Main menu')}}</b></li>
          <hr>
          <li><a href="{{ url_for('index') }}">{{ _('Home page') }}</a></li>
          <li><a href="{{ url_for('get_random_post') }}">{{ _('Random post') }}</a></li>
          <li><a href="{{ url_for('donate') }}">{{ _('Donate') }}</a></li>
          <li><a href="{{ url_for('index') }}">{{ _('Contact us') }}</a></li>
          <li><a href="{{ url_for('leave_message') }}">{{ _('Leave message') }}</a></li>
          <li><a href="{{ url_for('index') }}">{{ _('About JP Academy') }}</a></li>
          <br>
          <li>{{_('Other')}}</li>
          <hr>
          <li><a href="/404">{{ _('404 Quick button') }}</a></li>
          <hr>
          <li><a href="{{ url_for('shared') }}">{{ _('Upcoming Features') }}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="content">
        <!-- 中間內容 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>{{ title }}</h2>
        {% block app_content %} {% endblock app_content %}
      </div>
    </div>

    <div class="col-md-2 hide-on-small-screen">
      <!-- 右邊sidebar -->
      <div class="sidebar">
        <ul class="no-bullets">
          <li><b>{{_('Tools')}}</b></li>
          <hr>
          <li>{{_('General')}}</li>
          <hr>
          <li><a href="{{ url_for('index') }}">{{ _('What links here') }}</a></li>
          <li><a href="{{ url_for('shared') }}">{{ _('Related changes') }}</a></li>
          <li><a href="{{ url_for('shared') }}">{{ _('Special pages') }}</a></li>
          <li><a href="{{ url_for('shared') }}">{{ _('Permanent link') }}</a></li>
          <li><a href="{{ url_for('shared') }}">{{ _('Page information') }}</a></li>
          <li><a href="{{ url_for('shared') }}">{{ _('Get shortened URL') }}</a></li>
          <li><a href="{{ url_for('shared') }}">{{ _('Download QR code') }}</a></li>
          <li><a href="{{ url_for('shared') }}">{{ _('Wikidata item') }}</a></li>
          <br>
          <li>{{_('Print/export')}}</li>
          <hr>
          <li><a href="#" onclick="window.print(); return false;">{{ _('Print Button') }}</a></li>

        </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
{% block footer %}
<footer class="text-center mt-4">
  <p>&copy; 2024/26 E02 Final Year Project</p>
</footer>
{% endblock footer %}
{% endblock content %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v6.5.0/js/all.js"></script>

{% endblock %}