{% extends "base.html.j2" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block app_content %}

<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#mainpage">
        {% if category %}
        {{ category }}
        {% else %}
        {{ title }}
        {% endif %}
      </a></li>
    <li><a data-toggle="tab" href="#talk">{{ _('Talk') }}</a></li>
  </ul>

  <div class="tab-content">
    <!-- main page 子層 -->
    <div id="mainpage" class="tab-pane fade in active">
      <div>
        {# 這裏强行用transform把子層向上移, 和父層重疊了, 暫時未出意外 #}
        {# style="float: right;transform: translate(0px, -41px);" #}
        <ul class="nav nav-tabs" style="float: right;transform: translate(0px, -41px);">
          <li class="active"><a data-toggle="tab" href="#mainpage_read">{{ _('Read') }}</a></li>
          {% if category == 'Article'%} 
          <li><a href="{{ url_for('edit',title=title) }}">{{ _('Edit') }}</a></li>
          {% else %}
          <li><a data-toggle="tab" href="#mainpage_view_source">{{ _('View source') }}</a></li>
           {% endif %}
          <li><a data-toggle="tab" href="#mainpage_view_history">{{ _('View history') }}</a></li>
          {# 呢個星星, 係follow功能, 要再test下先 #}
          {% if not current_user.is_anonymous and category=='Article'%}
          {% if following_post %}
          <form action="{{ url_for('unfollow', title=title) }}" method="post"
            style="display: inline;transform: translate(0px, 15px);">
            <button type="submit" class="btn btn-outline-light">
              <i class="fa-solid fa-star" style="font-size: 14px;"></i>
            </button>
          </form>
          {% else %}
          <form action="{{ url_for('follow',title=title) }}" method="post"
            style="display: inline;transform: translate(0px, 15px);">
            <button type="submit" class="btn btn-outline-light">
              <i class="fa-regular fa-star" style="font-size: 14px; "></i>
            </button>
          </form>
          {% endif %}
          {% endif %}
        </ul>
      </div>
      <div class="tab-content">
        <div id="mainpage_read" class="tab-pane fade in active">
          <br />
          {% block read %}{% endblock read %}
        </div>
        <div id="mainpage_view_source" class="tab-pane fade">
        </div>
        <div id="mainpage_view_history" class="tab-pane fade">
          {% block view_history %}{% endblock view_history %}
        </div>
      </div>
    </div>
    <!-- Talk 子層 -->
    <div id="talk" class="tab-pane fade">
      {# 這裏强行用transform把子層向上移, 和父層重疊了, 暫時未出意外 #}
      {# style="float: right;transform: translate(0px, -41px);" #}
      <ul class="nav nav-tabs" style="float: right;transform: translate(0px, -41px);">
        <li class="active"><a data-toggle="tab" href="#talk_read">Read</a></li>
        <li><a data-toggle="tab" href="#talk_view_source">View source</a></li>
        <li><a data-toggle="tab" href="#talk_view_history">View history</a></li>
      </ul>
      <div class="tab-content">
        <div id="talk_read" class="tab-pane fade in active">
        </div>
        <div id="talk_view_source" class="tab-pane fade">
        </div>
        <div id="talk_view_history" class="tab-pane fade">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock app_content %}