{% extends "base.html.j2" %}

{% block title %}Community{% endblock %}

{% block content %}
<div class="container">
    <h2>Community Posts</h2>
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <h3><a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p>{{ post.content[:100] }}...</p>
            <p>By {{ post.author }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
