
{% extends 'base.html.j2' %}

{% block app_content %}
<h1>{{ _('Community') }}</h1>
<p>{{ _('This is the Community page.') }}</p>
<ul></ul>
    <li>{{ _('討論區 (Discussion Forums)') }}</li>
    <li>{{ _('活動日曆 (Event Calendar)') }}</li>
    <li>{{ _('用戶故事 (User Stories)') }}</li>
</ul>
{% endblock %}

{% block title %}
{{ _('Community') }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}