{% extends "base.html.j2" %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock head %}

{% block app_content %}

{% endblock app_content %}

{% block scripts %}
{{ super() }}
<script>
</script>
{% endblock scripts %}