{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-md-4">{{ wtf.quick_form(form) }} </div>

    <div class="col-md-8">
        {% if events %}
        <ul>
            {% for event in events %}
            <li>
                <strong>{{ event.name }}</strong>:  {{ event.message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock app_content %}