
{% extends 'base.html.j2' %}

{% block app_content %}
<h1>{{ _('Lessons') }}</h1>
{% set sorted_lessons = lessons|sort(attribute='level.id') %}
{% set levels_order = ['Beginner', 'Intermediate', 'Advanced'] %}
{% for level in levels_order %}
    {% set level_lessons = sorted_lessons|selectattr('level.name', 'equalto', level)|list %}
    {% if level_lessons %}
        <h3>{{ level }}</h2>
        <ul>
            {% for lesson in level_lessons %}
                <li>Name: {{ lesson.name }}</li>
                <p>Description: {{ lesson.description }}</p>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
{% endblock %}