{% extends "base.html.j2" %}
{% block app_content %}
<hr>
<p>{{_('Return to ')}}<a href="{{ url_for('index') }}">{{_('Home Page.')}}</a></p>
<p style="color: blue;">{{_('You will be redirected in ')}}<span id="countdown" style="font-weight: bold;">5</span>{{_(' seconds.')}}</p>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
let countdown = 5;
const countdownEl = document.getElementById('countdown');
const countdownInterval = setInterval(() => {
  countdown--;
  countdownEl.textContent = countdown;
  if (countdown === 0) {
    clearInterval(countdownInterval);
    window.location.href = "{{ url_for('index') }}";
  }
}, 1000);
</script>
{% endblock %}