{% extends "base.html.j2" %}
{% block app_content %}
<hr>
<p>{{_('You are now logged out. This device may be used to browse and edit Wikipedia without a username, or for another
    user
    to log in. Note that some pages may continue to be displayed as if you were still logged in; this can be fixed by
    ')}} <a href="https://en.wikipedia.org/wiki/Wikipedia:Bypass_your_cache">{{_('clearing your browser cache.')}}</a></p>
<p>{{_('Return to ')}}<a href="{{ url_for('index') }}">{{_('Main Page.')}}</a></p>

{% endblock %}