{% extends "base.html.j2" %}
{% block app_content %}
{{ _('From Wikipedia, the free encyclopedia') }}
<br /><br />
{% if title %}
{% for post in posts %}
{{ post.body }}
{% endfor %}
{% else %}
<h3>&emsp;&emsp;<b>{{ _("The article that you're looking for doesn't exist.") }}</b></h3>
{% endif %}
{% endblock app_content %}