{% extends "base.html.j2" %}

{% block app_content %}
<h1>{% if title %}</h1>
<p>
{% for post in posts %}
{{ post.body }}<br>
<small>{{ _('Posted by') }}: {{ post.user.username if post.user else 'Unknown' }}</small>
{% endfor %}
{% else %}
<h3>&emsp;&emsp;<b>{{ _("The post that you're looking for doesn't exist.") }}</b></h3>
{% endif %}
</p>
{% endblock app_content %}