{% extends "base.html.j2" %}

{% block head %}
{{ super() }}
<style>
  .record-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  video {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .btn {
    background: var(--primary);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 0 0.5rem;
  }
  .btn:hover {
    background: var(--secondary);
    color: white;
  }
  .btn:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  .record-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
  }
  .record-card h2 {
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 1rem;
  }
  .record-card p {
    font-size: 1.2rem;
    color: var(--dark);
  }
  .button-row {
    display: flex;
    margin-top: 1rem;
  }
  .upload-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  .upload-container input[type="file"] {
    display: none;
  }
  .upload-container label {
    background: var(--primary);
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 0 0.5rem;
  }
  .upload-container label:hover {
    background: var(--secondary);
    color: white;
  }
  .file-name {
    font-size: 1.5rem;
  }
  .evaluation-results {
    text-align: left;
    margin-top: 1rem;
  }
  .evaluation-results h3 {
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
  }
  .evaluation-results p {
    font-size: 1rem;
    color: var(--dark);
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--primary);
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
{% endblock head %}

{% block app_content %}
<div class="record-container">
  <div class="record-card">
    <h2>Record Or Upload Your Video</h2>
    <video id="video" width="640" height="480" autoplay></video>
    <div class="button-row">
      You can record a video 
      <button id="startBtn" class="btn">Start Recording</button>
      <button id="stopBtn" class="btn" disabled>Stop Recording</button>
      <button id="evaluateBtn" class="btn" disabled>Evaluate Video</button>
    </div>
    <div class="upload-container">
      Or upload a video
      <label for="uploadInput" class="btn">Choose File :  <span id="fileName" class="file-name"></span></label>
      <input type="file" id="uploadInput" accept="video/*">
      
      <button id="evaluateUploadBtn" class="btn" disabled>Evaluate Upload Video</button>
    </div>
    <div id="loader" class="loader"></div>
  </div>
</div>
{% endblock app_content %}

{% block scripts %}
{{ super() }}
<script>
  const video = document.getElementById('video');
  const startBtn = document.getElementById('startBtn');
  const stopBtn = document.getElementById('stopBtn');
  const evaluateBtn = document.getElementById('evaluateBtn');
  const evaluateUploadBtn = document.getElementById('evaluateUploadBtn');
  const uploadInput = document.getElementById('uploadInput');
  const fileName = document.getElementById('fileName');
  const loader = document.getElementById('loader');
  let mediaRecorder;
  let recordedChunks = [];

  navigator.mediaDevices.getUserMedia({ video: true })
    .then(stream => {
      video.srcObject = stream;
      mediaRecorder = new MediaRecorder(stream);

      mediaRecorder.ondataavailable = function(event) {
        if (event.data.size > 0) {
          recordedChunks.push(event.data);
        }
      };

      mediaRecorder.onstop = async function() {
        const blob = new Blob(recordedChunks, { type: 'video/webm' });
        const formData = new FormData();
        formData.append('video', blob, 'recorded_video.webm');

        try {
          const response = await fetch('/video_evaluation', {
            method: 'POST',
            body: formData
          });
          const data = await response.json();
          loader.style.display = 'none';
          if (data.success) {
            window.location.href = `/score/${data.user_id}`;
          } else {
            alert('Error evaluating video');
          }
        } catch (error) {
          loader.style.display = 'none';
          console.error('Error uploading recorded video:', error);
        }
      };
    })
    .catch(error => {
      console.error('Error accessing media devices.', error);
    });

  startBtn.addEventListener('click', () => {
    recordedChunks = [];
    mediaRecorder.start();
    startBtn.disabled = true;
    stopBtn.disabled = false;
    evaluateBtn.disabled = true;
  });

  stopBtn.addEventListener('click', () => {
    mediaRecorder.stop();
    startBtn.disabled = false;
    stopBtn.disabled = true;
    evaluateBtn.disabled = false;
  });

  evaluateBtn.addEventListener('click', async () => {
    loader.style.display = 'block';
    const blob = new Blob(recordedChunks, { type: 'video/webm' });
    const formData = new FormData();
    formData.append('video', blob, 'recorded_video.webm');

    try {
      const response = await fetch('/video_evaluation', {
        method: 'POST',
        body: formData
      });
      const data = await response.json();
      loader.style.display = 'none';
      if (data.success) {
        window.location.href = `/score/${data.user_id}`;
      } else {
        alert('Error evaluating video');
      }
    } catch (error) {
      loader.style.display = 'none';
      console.error('Error sending evaluation request:', error);
      alert('Error sending evaluation request: ' + error.message);
    }
  });

  uploadInput.addEventListener('change', () => {
    console.log('File input changed');
    evaluateUploadBtn.disabled = uploadInput.files.length === 0;
    fileName.textContent = uploadInput.files.length > 0 ? uploadInput.files[0].name : '';
  });

  evaluateUploadBtn.addEventListener('click', async () => {
    loader.style.display = 'block';
    const file = uploadInput.files[0];
    const formData = new FormData();
    formData.append('video', file);

    try {
      const response = await fetch('/video_evaluation', {
        method: 'POST',
        body: formData
      });
      const data = await response.json();
      loader.style.display = 'none';
      if (data.success) {
        window.location.href = `/score/${data.user_id}`;
      } else {
        alert('Error evaluating video');
      }
    } catch (error) {
      loader.style.display = 'none';
      console.error('Error uploading video:', error);
      alert('Error uploading video: ' + error.message);
    }
  });

</script>
{% endblock scripts %}
