{% extends "base.html.j2" %}
{% block app_content %}
<form class="d-flex-inline" action="{{ url_for('search') }}" method="post" style="display: inline-flex;width: 800px;">
    {{ g.search_form.hidden_tag() }}
    {{ g.search_form.keyword(class="form-control me-2", placeholder=keyword, aria_label="Search") }}
    <button class="btn btn-outline-success" type="submit" style="display: none;">{{_('Search') }}</button>
</form>

{% if posts %}
<br/>
<b>{{_('There is a page named "') }}{{keyword}}{{_('" on Wikipedia') }}</b>
<ul>
    {% for post in posts %}
    <li>
        <h3>{{ post.title }}</h3></a>
        <p>{{ post.body }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>{{_('No results found.')}} </p>
{% endif %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('previous posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}